
<!-- <ng-container *ngIf="!showProductPage"> -->


<div class="">
  <!-- <div class="back-arrow">
    <i class="fa fa-arrow-left" aria-hidden="true">
      Go Back
    </i> -->
  <!-- </div> -->
  <h1 class="title-inventory">Inventory
    <i class="fa fa-download" aria-hidden="true" (click)="exportexcel()">&nbsp;Export to Excel</i>
  </h1>
 
  <mat-card style="display: flex;">
    <div class="section-b">
      <input class="input" type="text"  name="Search" placeholder="&#61442; Search" [(ngModel)]="searchText" style="font-family:Arial, FontAwesome">
    </div>
    <form [formGroup]="productFormGroup" >
    <mat-form-field appearance="fill" class="example-additional-selection">
      <mat-label>Catagory</mat-label>
      <mat-select (selectionChange)="productCategory($event,'catagory')"  formControlName="Catagory" multiple>
        <mat-option  *ngFor="let row of CatagoryList" [value]="row">{{row}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="example-additional-selection">
      <mat-label>Color</mat-label>
      <mat-select (selectionChange)="productCategory($event,'color')"  formControlName="Color" multiple>
        <mat-option  *ngFor="let row of ColorList" [value]="row">{{row}}</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <mat-form-field appearance="fill" class="example-additional-selection">
      <mat-label>Stock</mat-label>
      <input type="number" class="form-control"  placeholder="Stock" style="border: none;">
    </mat-form-field> -->
    <!-- <ngx-slider [(value)]="value" [(highValue)]="highValue"  [options]="options">
<input type="number" [(ngModel)]="value">
<input type="number" [(ngModel)]="highValue">
</ngx-slider> -->
<!-- <mat-slider min="200" max="500">
  <input value="300" matSliderStartThumb>
  <input value="400" matSliderEndThumb>
</mat-slider> -->
      <!-- <div class="stock"> -->
      <!-- <input  style="border: none;" type="text" class="form-control" formControlName="stock" id="exampleInputHeading1" placeholder="stock"> -->
    <!-- </div> -->
    <mat-label>
    <input matInputtype="text"  (keyup)="stockfilter($event)" class="form-control p-3" formControlName="stock"  placeholder="stock" >
  </mat-label>
  </form>
    <div class="add-product">

    <button (click)="addproduct()"><i class="fa fa-plus" aria-hidden="true">Add Product</i></button>
  </div>

  </mat-card>
  
</div>
<div>

 <table class="custom-fixed-tables table" id="excel-table-id">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">ID</th>
          <th scope="col">CATEGORY</th>
          <th scope="col">COLOUR</th>
          <th scope="col">NAME</th>
          <th scope="col">INSTOCK</th>
          <th scope="col">REFERENCE ID</th>
          <th scope="col">ACTION</th>
        </tr>
      </thead>
      <ng-container *ngFor="let row of productList | search:searchText ;let i= index ">
        <!-- | filter:searchText -->
      <tbody>
        <tr>
          <th><img src="assets\table_ring.svg"></th>
          <th>{{row._id}}</th>
          <th>{{row.category.join(', ')}}</th>
          <th>{{row.colour.join(', ')}}</th>
          <th>{{row.productName}}</th>
          <th>{{row.stock}}</th>
          <th>{{row.referenceId}}</th>
          <th>
          
            <mat-icon   (click)="editProduct(row)">edit</mat-icon>	
            <mat-icon (click)="openDialog(row)">
              <!-- <mat-dialog-actions> -->
                <!-- <button mat-raised-button >delete_outline</button> -->
              <!-- </mat-dialog-actions> -->
              delete_outline
            </mat-icon>
            <mat-icon (click)="editProduct(row,'view') ">visibility</mat-icon>
          </th>
        </tr>
      </tbody>
    </ng-container>
   
  </table>

</div>
<!-- </ng-container> -->
<!-- <router-outlet
*ngIf="showProductPage"
></router-outlet> -->