<div class="">
  <div class="back-arrow">
    <i class="fa fa-arrow-left" aria-hidden="true">
      Go Back
    </i>
  </div>
  <h1 class="title-inventory">Inventory
    <!-- <div class="download-button"> -->
    <i class="fa fa-download" aria-hidden="true">&nbsp;Export to Excel</i>
    <!-- </div> -->
  </h1>
 
  <mat-card style="display: flex;">
    <!-- <div class="input-group">
      <input class="form-control border-end-0 border rounded-pill" type="Search" value=""
        id="example-search-input" placeholder="&#61442; Search" style="font-family:Arial, FontAwesome">
    </div> -->
    <div class="section-b">
      <input class="input" type="text" name="Search" placeholder="&#61442; Search" style="font-family:Arial, FontAwesome">
      <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
    </div>
    <mat-form-field appearance="fill" class="example-additional-selection">
      <mat-label>Catagory</mat-label>
      <mat-select formControl="Catagory" multiple>
        <mat-option *ngFor="let Catagory of CatagoryList" [value]="Catagory">{{Catagory}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="example-additional-selection">
      <mat-label>Color</mat-label>
      <mat-select formControl="Color" multiple>
        <mat-option *ngFor="let Color of ColorList" [value]="Color">{{Color}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="example-additional-selection">
      <mat-label>Stock</mat-label>
      <mat-select formControl="Stock" multiple>
        <mat-option *ngFor="let Stock of StockList" [value]="Stock">{{Stock}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="add-product">
    <button><i class="fa fa-plus" aria-hidden="true">&nbsp;Add Product</i></button>
  </div>
  </mat-card>
  
</div>
<div>

 <table class="custom-fixed-tables table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">ID</th>
          <th scope="col">CATEGORY</th>
          <th scope="col">COLOUR</th>
          <th scope="col">NAME</th>
          <th scope="col">INSTOCK</th>
          <th scope="col">ACTION</th>
        </tr>
      </thead>
      <ng-container *ngFor="let row of productList.data;let i= index">
      <tbody>
        <tr>
          <th><img src="assets\table_ring.svg"></th>
          <th>{{row.productId}}</th>
          <th>{{row.category.join(', ')}}</th>
          <th>{{row.colour.join(', ')}}</th>
          <th>{{row.productName}}</th>
          <th>{{row.stock}}</th>
          <th>
            <mat-icon>edit</mat-icon>	
            <mat-icon>delete_outline</mat-icon>
            <mat-icon>visibility</mat-icon>
          </th>
        </tr>
      </tbody>
    </ng-container>
   
  </table>

</div>