<div class="order">
    <div class="back-arrow" routerLink="/dashboard/inventory">
        <i class="fa fa-arrow-left" aria-hidden="true">
            Go Back
        </i>
    </div>
    <h1 class="title-inventory">Order Management
        <i class="fa fa-download" aria-hidden="true">&nbsp;Export to Excel</i>
    </h1>

    <div class="container">
        <div class="row">
            <div class="card-order">
                <div class="col">
                    <mat-card>
                        <mat-card-content>
                            <h3> New Orders </h3>
                            <h3>121 | impression -10 %
                                <i class="fa fa-arrow-up" aria-hidden="true"></i>
                            </h3>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="order-card">
                <div class="col">
                    <mat-card>
                        <mat-card-content>
                            <h3> Dispatch Orders </h3>
                            <h3>22 | impression -15 %
                                <i class="fa fa-arrow-down" aria-hidden="true"></i>
                            </h3>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="order-card1">
                <div class="col">
                    <mat-card>
                        <mat-card-content>
                            <h3> Delivered Orders </h3>
                            <h3>62 | impression -16 %
                                <i class="fa fa-arrow-up" aria-hidden="true"></i>
                            </h3>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
    <div class="search-box-card">
        <mat-card>
            <!-- <mat-card-content>Simple card</mat-card-content> -->
            <div class="section-b ">
                <input class="input" type="text"  name="Search" placeholder="&#61442; Search" style="font-family:Arial, FontAwesome">
              </div> 
              <div class="dropdown-select">
              <mat-form-field appearance="fill">
                <mat-label>New Order</mat-label>
                <mat-select disableRipple>
                  <mat-option value="1">New Order</mat-option>
                  <mat-option value="2">New Order 1</mat-option>
                  <!-- <mat-option value="3">Option 3</mat-option> -->
                </mat-select>
              </mat-form-field>
            </div> 
            </mat-card>
</div>
   
          <table class="custom-fixed-tables table">
            <thead>
                <tr>
                    <th scope="col">
                        <img src="assets\check_box.svg" />ORDER ID
                    </th>
                    <th scope="col">
                        <img src="assets\group.svg" />
    
                        CUSTOMER DETAILS
                    </th>
                    <th scope="col">
                        <img src="assets\inventory.svg" />
                        ORDER DETAILS
                    </th>
                    <th scope="col">
                        <img src="assets\task_alt.svg" />
                        ORDER STATUS
                    </th>
                </tr>
            </thead>
            <ng-container *ngFor="let row of orderList let i=index  ">
                <tbody>
                    <tr>
                        <th>
                            {{row._id}}
                            <!-- #1234
                            GIFT WRAP -->
                        </th>
                        <th>
                            {{row.customerAddress}}

                            <!-- Billing Address:<br>
                            Dharstec Solutions admin@dharstec.com
                            Balaji Nagar 2nd Cross Street
                            9876543210 -->
                        </th>
                        <th>
                            {{row.orderedBy}}
                            <!-- Product:<br>
                            Blue Stone Ear Ring
                            Quantity:2
                            Price:2350 -->
                        </th>
                        <th>
                            <!-- <img src="assets\Rectangle 506.png" /> -->
                            <i class="fa fa-square-o" aria-hidden="true"></i>
                            <!-- Dispatch -->
                            {{row.orderStatus}}
                        </th>
                    </tr>
                </tbody>
            </ng-container>
    
        </table>
</div>