<div class="order">
    <div class="back-arrow" routerLink="/dashboard/inventory">
        <i class="fa fa-arrow-left" aria-hidden="true">
            Go Back
        </i>
    </div>
    <h1 class="title-inventory">Order Management
        <i class="fa fa-download" aria-hidden="true" (click)="exportexcel()">&nbsp;Export to Excel</i>
    </h1>

    <div class="container">
        <div class="row">
            <div class="card-order">
                <div class="col">
                    <mat-card>
                        <mat-card-content>
                            <h3> New Orders </h3>
                            <h3>121 | impression -10 %
                                <i class="fa fa-arrow-up" aria-hidden="true"></i>
                            </h3>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="order-card">
                <div class="col">
                    <mat-card>
                        <mat-card-content>
                            <h3> Dispatch Orders </h3>
                            <h3>22 | impression -15 %
                                <i class="fa fa-arrow-down" aria-hidden="true"></i>
                            </h3>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="order-card1">
                <div class="col">
                    <mat-card>
                        <mat-card-content>
                            <h3> Delivered Orders </h3>
                            <h3>62 | impression -16 %
                                <i class="fa fa-arrow-up" aria-hidden="true"></i>
                            </h3>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
    <div class="search-box-card">
        <mat-card>
            <!-- <mat-card-content>Simple card</mat-card-content> -->
            <div class="section-b ">
                <input class="input" type="text"  name="Search" placeholder="&#61442; Search" [(ngModel)]="orderSearchValue"style="font-family:Arial, FontAwesome">
              </div> 
              <div class="dropdown-select">
              <mat-form-field appearance="fill">
                <mat-label>Order placed</mat-label>
                <mat-select disableRipple>
                  <mat-option value="1">order Placed</mat-option>
                  <mat-option value="2">Dispatched</mat-option>
                  <mat-option value="3">Delivered</mat-option>
                </mat-select>
              </mat-form-field>
            </div> 
            </mat-card>
</div>
   
          <table class="customs-fixed-tables table" id="excel-table-id">
            <thead>
                <tr>
                    <th scope="col">
                        <img src="assets\check_box.svg" />ORDER ID
                    </th>
                    <th scope="col">
                        <img src="assets\group.svg" />
    
                        CUSTOMER DETAILS
                    </th>
                    <th scope="col">
                        <img src="assets\inventory.svg" />
                        ORDER DETAILS
                    </th>
                    <th scope="col">
                        <img src="assets\task_alt.svg" />
                        ORDER STATUS
                    </th>
                </tr>
            </thead>
            <ng-container *ngFor="let row of orderList  | orderSearch:orderSearchValue ; let i=index " >
                <tbody>
                    <tr>
                        <th>
                            {{row._id}}
                            <!-- #1234
                            GIFT WRAP -->
                        </th>
                        <th>
                            <!-- Billing Address:<br> -->
                            {{row.customerName}}<br>
                            {{row.customerEmailId}}<br>
                            {{row.customerAddress}} <br>
                            <!-- Phone Number:<br> -->
                            {{row.customerPhoneNumber}}


                            <!-- Billing Address:<br>
                            Dharstec Solutions admin@dharstec.com
                            Balaji Nagar 2nd Cross Street
                            9876543210 -->
                        </th>
                       
                        <th>
                         <div *ngFor="let list of row.orders let i=index " class="mb-3">
                            {{list.productId.productName}}<br>
                            {{list.productId.category.join(', ')}}<br>
                            {{list.productId.colour.join(', ')}}<br>
                            {{list.quantity}}<br>
                            {{list.productId.actualPrice}}<br>
                         </div>
                            <!-- Product:<br>
                            Blue Stone Ear Ring
                            Quantity:2
                            Price:2350 -->
                        </th>
                        <th >
                            <!-- <div *ngFor="let list of row.orderStatus let i=index">

                            <i class="fa fa-square-o" aria-hidden="true"></i>
                            Dispatch
                            {{list.status}}
                            {{list.comment}}
                        </div> -->
                        
                        <div class="btn-group">
                        <button [style.background-color]="'red'" [style.color]="'white'"  style="display: block;"(click)="updateOrderStatus(row,'pending')">Pending</button>
                        <button [style.background-color]="'yellow'" [style.color]="'white'" style="display: block;"(click)="updateOrderStatus(row,'dispatched')">Dispatched</button>
                        <button [style.background-color]="'green'" [style.color]="'white'"  style="display: block;"(click)="updateOrderStatus(row ,'delivered')">Delivered</button>
                    </div>
                        </th>
                    </tr>
                </tbody>
            </ng-container>
    
        </table>
</div>