<div class="row" style="margin-top:5px;margin-bottom: 10px;">
   <div class="col" *ngFor="let details of totalCount">
      <div class="box">
         <div class="flex-r">
            <p class="totalRec">{{details.totalRecords | number:'1.0' }}</p>
            <mat-icon class="iconCls">{{details.icon}}</mat-icon>

         </div>
         <span class="title">{{details.title}}</span>
         <div class="flex-bot">
            <mat-icon class="icon-cls">north_east</mat-icon>
            <p class="rate">{{details.rate}}</p>&nbsp;&nbsp;<span class="ratio">+{{details.ratio}}% this week</span>
         </div>
      </div>
   </div>
</div>
<div class="row" style="margin-top:5px;margin-bottom: 1opx;">
   <div class="col">
      <!-- <mat-card>
         <div class="flex-card">
            <mat-card-header>Category</mat-card-header>
            <mat-tab-group>
               <mat-tab label="First"> Content 1 </mat-tab>
               <mat-tab label="Second"> Content 2 </mat-tab>
               <mat-tab label="Third"> Content 2 </mat-tab>
            </mat-tab-group>
         </div>
      </mat-card> -->
   </div>
   <div class="col">
      <div class="box">

      </div>
   </div>
</div>
<div class="row" style="margin-top:5px;margin-bottom: 10px;">
   <div class="col-6">
      <div class="box">

      </div>
   </div>
   <div class="col-3">
      <div class="box">

      </div>
   </div>
   <div class="col-3">
      <div class="box">

      </div>
   </div>
</div>